@model DHConsulting.Models.Cliente

@{
    ViewBag.Title = "Profilo";
}


<section class="min-h-screen">
    <div class="container min-h-screen">
        <div class="md:flex min-h-screen">
            <div class="lg:w-1/4 md:w-1/3 md:px-3" style="background: url(https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fGluZm9ybWF0aW9uJTIwdGVjaG5vbG9neXxlbnwwfHwwfHx8MA%3D%3D); background-size:cover;">
            </div>

            <div class="lg:w-3/4 md:w-2/3 px-7 my-12">
                @if (TempData["Successo"] != null)
                {
                    <div class="flex justify-center my-12">
                        <div class="flex w-full max-w-md overflow-hidden rounded-lg shadow-md border border-blue-500">
                            <div class="flex items-center justify-center w-12 bg-blue-500">
                                <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
                                </svg>
                            </div>

                            <div class="px-4 py-2 -mx-3">
                                <div class="mx-3">
                                    <span class="font-semibold text-blue-500 dark:text-blue-400">Complimenti</span>
                                    <p class="text-sm">@TempData["Successo"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            <div>
                <div class="pb-6 border-b border-gray-300 flex justify-between items-center">
                    <h5 class="text-xl font-semibold">@Model.Nome @Model.Cognome</h5>
                    @Html.ActionLink("Aggiorna profilo", "EditProfilo", new { id = Model.IdCliente }, new { @class = "btn bg-slate-300 text-black hover:bg-slate-500 hover:text-white text-md" })
                </div>

                <div class="grid lg:grid-cols-2 grid-cols-1 gap-[30px] pt-6">
                    <div>
                        <h5 class="text-xl font-semibold">Dettagli personali:</h5>
                        <div class="mt-6">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail fea icon-ex-md text-slate-400 mr-3">
                                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                                <div class="flex-1">
                                    <h6 class="font-medium mb-0">Email:</h6>
                                    <a href="" class="text-slate-400">@Model.Email</a>
                                </div>
                            </div>
                            <div class="flex items-center mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark fea icon-ex-md text-slate-400 mr-3">
                                    <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                                </svg>
                                <div class="flex-1">
                                    <h6 class="font-medium mb-0">CF:</h6>
                                    <p class="text-slate-400 mb-0">@Model.CF</p>
                                </div>
                            </div>
                            @if (Model.Piva != null)
                            {
                                <div class="flex items-center mt-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-italic fea icon-ex-md text-slate-400 mr-3">
                                        <line x1="19" y1="4" x2="10" y2="4"></line>
                                        <line x1="14" y1="20" x2="5" y2="20"></line>
                                        <line x1="15" y1="4" x2="9" y2="20"></line>
                                    </svg>
                                    <div class="flex-1">
                                        <h6 class="font-medium mb-0">P.IVA:</h6>
                                        <p class="text-slate-400 mb-0">@Model.Piva</p>
                                    </div>
                                </div>
                            }
                            <div class="flex items-center mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe fea icon-ex-md text-slate-400 mr-3">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                </svg>
                                <div class="flex-1">
                                    <h6 class="font-medium mb-0">Username:</h6>
                                    <p class="text-slate-400 mb-0">@Model.Username</p>
                                </div>
                            </div>
                            <div class="flex items-center mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift fea icon-ex-md text-slate-400 mr-3">
                                    <polyline points="20 12 20 22 4 22 4 12"></polyline>
                                    <rect x="2" y="7" width="20" height="5"></rect>
                                    <line x1="12" y1="22" x2="12" y2="7"></line>
                                    <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                                    <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                                </svg>
                                <div class="flex-1">
                                    <h6 class="font-medium mb-0">Data di nascita:</h6>
                                    <p class="text-slate-400 mb-0">@Model.DataNascita.ToShortDateString()</p>
                                </div>
                            </div>
                            <div class="flex items-center mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin fea icon-ex-md text-slate-400 mr-3">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                                <div class="flex-1">
                                    <h6 class="font-medium mb-0">Indirizzo:</h6>
                                    <p class="text-slate-400 mb-0">@Model.Citta, @Model.Indirizzo</p>
                                </div>
                            </div>
                            <div class="flex items-center mt-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone fea icon-ex-md text-slate-400 mr-3">
                                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                                </svg>
                                <div class="flex-1">
                                    <h6 class="font-medium mb-0">Telefono:</h6>
                                    <p class="text-slate-400 mb-0">@Model.Phone</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-[30px] lg:mt-0">
                        <h5 class="text-xl font-semibold">Riepilogo acquisti:</h5>
                        @foreach (var item in Model.Ordine)
                        {
                            <div class="flex transition-all duration-500 hover:scale-105 shadow dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 ease-in-out items-center p-4 rounded-md mt-6 border border-slate-200">
                                <a href="@Url.Action("DownloadOrderPdf", "Payment", new { id = item.IdOrdine })" target="_blank">
                                    <img src="https://cdn.pixabay.com/photo/2013/07/13/11/53/file-158878_1280.png" class="h-16 w-16 p-4 bg-slate-50 dark:bg-slate-800 shadow dark:shadow-gray-800 rounded-md" alt="pdf">
                                </a>
                                <div class="flex-1 content ml-4">
                                    <h4 class="text-lg text-medium">Data ordine: @string.Format("{0:dd/MM/yyyy}", item.DataOrdine)</h4>
                                    @foreach (var dettaglio in item.Dettaglio)
                                    {
                                        <p class="text-slate-400 mb-0">@(dettaglio.Quantita)x @dettaglio.Prodotto.DescrizioneBreve (@string.Format("{0:C}", (dettaglio.Prodotto.Costo * @dettaglio.Quantita)))</p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!--end grid-->
    </div>
    <!--end container-->
</section>